{% extends "layout.html" %}



<title>
{% block title %}
	{% if title %}
		{{ title }}
	{% endif %}
{% endblock %}
<meta name="description" content="Log into the admin page of Jonny And Friends For Autism.  If you are a member of management, you can send responses back to the people who text Jonny And Friends For Autism.  You can also send emails once logged in.">
<meta name="author" content="SinclairPythonAkoto">
</title>


{% block content %}
<main>
	<h1 style="text-align: center" >Login</h1>
	<form action="" method="post">
	<div class="card">
		<img src="static/jonnyPic.jpg" alt="LoginJonny" style="width:100%">
		
		<p>Please enter your credentials below to login in.</p>
		<br>
		<input type="text" name="username" placeholder="Enter Username" required>
		<input type="password" name="password" placeholder="Enter Password" required>
		<br>
		<button type="submit">LOGIN</button>
	</div>
	</form>
</main>

{% endblock %}