{% extends "layout.html" %}

{% block content %}

<h1>Jonny & Friends 4 Autism<br>Text us!</h1>
<form action="{{ url_for('textJonny') }}" method="post">
  <div class="card">
    <img src="/static/jaffalogo.png" alt="John" style="width:100%">
    <p class="title">Enter your text in the box below:</p>
    <label for="textBox"></label>
    <textarea id="textBox" rows="10" cols="35" name="sendText" placeholder="write your text message here..." required></textarea><br>
    Your Name:
    <input type="text" name="senderName" placeholder="enter your name here.." required>
    Your Number:
    <input type="number" name="contactNumber" placeholder="enter your number here.." required>
    <div style="margin: 24px 0;">
      <a href="{{ url_for('textJonny') }}"><i class="fa fa-comments"></i></a>
    </div>
    <p><button type="submit">Send Text!</button></p>
  </div>
</form>

<br><a href="{{ url_for('JonnyAdmin') }}">Admin</a>

{% endblock %}